@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body{
    height: 98vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #036803;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(./img/snake-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    
    border: 3px solid #4b9209;
    border-radius: 10px;
    text-align: center;
    padding: 6px;
    background-color: greenyellow;
    box-shadow: 5px 5px 7px rgb(59, 199, 4);
    font-family: 'Press Start 2P', cursive;
}

#pts{
    font-size: 25px;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}