body{
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(3, 104, 3);
    font-family: Arial, Helvetica, sans-serif;
}